@charset "UTF-8";
body {
  font-family: 'Poppins', sans-serif;
}
.nav-link {
  font-family: 'Poppins', sans-serif;
}

.Hero_Section {
  background: url('./Images/h1_hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
}

.about-title {
  color: #002D5B;              
  line-height: 1.2;
}


footer {
  background: url('./Images/footer_bg.png') no-repeat center center/cover;
}
 
@media (min-width: 992px) {
  .about-section .position-relative img.position-absolute {
    bottom: -1.5rem;
    left: 0;
  }
}

section {
  padding-top: 3rem; /* equivalent to pt-5 */
}